@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #22D4FD;
    --cor-secundaria: #000000;
    --cor-terciaria: #F6F6F6;
    --cor-hover: #272727;
    --cor-hover2: #4d4d4d;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-texto);
}

header {
    position: sticky;
    top: 0;
}

.menu-logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--cor-primaria);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem;
}

.menu-logo:hover {
    text-shadow: var(--cor-primaria) 0 0 5px, var(--cor-primaria) 0 0 5px, var(--cor-primaria) 0 0 5px;
}

.menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-texto);
    background: var(--cor-hover);
    height: 8vh;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list-btn {
    text-decoration: none;
    color: var(--cor-terciaria);
    letter-spacing: 3px;
    margin-left: 10px;
    padding: 1rem;
}

.menu-list-btn:hover {
    text-shadow: var(--cor-terciaria) 0 0 5px, var(--cor-terciaria) 0 0 5px, var(--cor-terciaria) 0 0 5px;
}

.menu-mobile-btn {
    display: none;
    cursor: pointer;
}

.menu-mobile-btn div {
    width: 32px;
    height: 2px;
    background-color: var(--cor-primaria);
    margin: 8px;
    transition: 0.3s;
}

.menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2 {
    opacity: 0;
}

.menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.main {
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    line-height: 33px;
}

.main-content-title {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
    text-align: center;
    line-height: 40px;
}

.main-content-title-featured {
    color: var(--cor-primaria);
}

.main-content-text {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
}

.main-content-about {
    display: flex;
    flex-direction: column;
    gap: 38.4px;
    line-height: 33px;
}

.main-content-about-title {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
}

.main-content-about-text {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
}

.main-content-curriculum {
    display: flex;
    flex-direction: column;
    gap: 36.2px;
    line-height: 33px;
}

.main-content-curriculum-title {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
}

.main-content-curriculum-text {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
}

.main-content-curriculum-list {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content-curriculum-link {
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

.main-image {
    width: 38%;
    border-radius: 8px;
}

.footer {
    width: 100%;
    height: 12vh;
    background: var(--cor-primaria);
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: #000000;
    margin: 10px;
    border-radius: 50%;
}

.footer-icons a:hover {
    background-color: var(--cor-primaria);
    transition: 0.5s;
}

.footer-icons a:hover i {
    color: var(--cor-secundaria);
    transition: 0.5s;
}

.footer-icons a i {
    font-size: 2rem;
    color: var(--cor-primaria);
}

.footer-bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-titulo);
    padding: 10px;
    gap: 30px;
}

@media (max-width: 1000px) {
    .menu-list {
        padding-bottom: 8vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        top: 8vh;
        right: 0px;
        background: var(--cor-hover);
        transition: .5s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.5rem;
    }

    .menu.active .menu-list {
        height: 100svh;
        visibility: visible;
        overflow-y: auto;
    }

    .menu-mobile-btn {
        display: block;
    }

    .main {
        flex-direction: column-reverse;
        padding: 7%;
    }

    .main-content {
        width: auto;
    }

    .main-image {
        width: 95%;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 5px;
    }

    .footer {
    height: 140px;
    }
}
