@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #22D4FD;
    --cor-secundaria: #000000;
    --cor-terciaria: #F6F6F6;
    --cor-hover: #272727;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    overflow-y: hidden;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-texto);
    background: var(--cor-hover);
    height: 8vh;
}

.site {
    overflow-x: hidden;
}

.logo {
    font-size: 24px;
    color: var(--cor-primaria);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-list {
    list-style: none;
    color: var(--cor-primaria);
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: var(--cor-primaria);
    margin: 8px;
    transition: 0.3s;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

.principal {
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    line-height: 33px;
}

.apresentacao__curriculo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 33px;
}

.apresentacao__sobremim {
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 33px;
}

.conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
    text-align: center;
}

.titulo-destaque {
    color: var(--cor-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
}

.apresentacao__conteudo__lista {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1.57rem;
}

.apresentacao__conteudo__link {
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-primaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 40%;
    border-radius: 8px;
}

.rodape {
    text-align: center;
    padding: 1%;
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.rodape-index {
    position: relative;
    bottom: 17px;
}

.rodape-about {
    position: relative;
    top: 10px;
}

.rodape-curriculum {
    position: relative;
    bottom: 9px;
}

.rodape-projects {
    position: relative;
    bottom: 0px;
}

.rodape-contact {
    position: relative;
    bottom: 0px;
}

@media (max-width: 1200px) {

    body,
    html {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92svh;
        background-color: var(--cor-hover);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .principal {
        flex-direction: column-reverse;
        padding: 7%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        width: 95%;
    }

    .rodape {
        font-size: 1.3rem;
    }

    .rodape-index {
        position: relative;
        bottom: 0px;
    }

    .rodape-about {
        position: relative;
        top: 0px;
    }

    .rodape-curriculum {
        position: relative;
        bottom: 0px;
    }

    .rodape-projects {
        position: relative;
        bottom: 0px;
    }

    .rodape-contact {
        position: relative;
        bottom: 0px;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.3rem;
    }

    .apresentacao__conteudo__link {
        font-size: 1.3rem;
    }

    .apresentacao__links__subtitulo {
        font-size: 1.3rem;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
