@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 4%;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    line-height: 32.3px;
}

.apresentacao__curriculo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 39.64px;
}

.apresentacao__sobremim {
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 34.1px;
}

.conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__conteudo__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 40%;
    border-radius: 8px;
}

.rodape {
    text-align: center;
    padding: 1%;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 2% 5% 2%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 7%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        width: 95%;
    }

    .rodape {
        font-size: 1.3rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.3rem;
    }

    .apresentacao__conteudo__link {
        font-size: 1.3rem;
    }

    .apresentacao__links__subtitulo {
        font-size: 1.3rem;
    }
}
